*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
    width: 20px;
}

  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 10px;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}
ul{
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
/*Home*/
#Home .nav .container{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.list-item ul{
    display: flex;
    Color:rgb(127, 127, 144);

}
.list-item ul li::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 55px;
    background-color: #CE1212;
    bottom: -7px;
    left: 0;
    opacity: 0;

}

.list-item ul li .active{
    Color: black;
}
.list-item ul li .active::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 55px;
    background-color: #CE1212;
    bottom: -7px;
    left: 0;

}
.list-item ul li:hover::after{
    opacity: 1;

}
.list-item ul li a:hover{
    Color: black;
}

.list-item ul li a{
    Color:rgb(127, 127, 144);
    font-Family:"Open Sans";
}
.list-item ul li{
margin-inline: 15px;
font-size: 21px;
font-Family:"Open Sans";
Font-Weight:600;
Line-Height:normal;
Color:rgb(127, 127, 144);
Font-Style:normal;
position: relative;
}

#Home{
    background-color: #eee;
    min-height: 100vh;
    padding-top: 80px;
}
#Home .nav{
    background-color: #fff;
    box-shadow: 0px 0px 14px 0px #0000001b;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999999999;

}
#Home .nav .icon i{
    font-size: 30px;
    
}
#Home .nav .icon i:hover{
    cursor: pointer;
}

#Home .nav a h1{
font-family: "Open Sans"," system-ui", "-apple-system", "Segoe UI", "Roboto",
"Helvetica Neue", "Arial", "Noto Sans", "Liberation Sans", "sans-serif",
"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
Font-Weight:700;
Font-Size:27px;
Line-Height:normal;
Color:rgb(33, 37, 41);
font-style:normal;

}
h1 span{
    color: #CE1212;
}
#Home .content  .container{
    display: flex;
    justify-content: space-between;
}
#Home .content .content-header{
    width: 45%;
    padding-top: 15px;
}
#Home .content .content-header h2{
font-family: "Amatic SC", sans-serif;
Font-Weight:700;
Font-Size:65px;
Line-Height:normal;
Color:rgb(55, 55, 63);
Font-Style:normal;
}
#Home .content .content-header p{
margin-block: 20px;
    line-height: 1.6;
    font-size: 1rem;
    color: #4f4f5a;
}
#Home .content .content-header .button .btn1 {
    background-color: #E61414;
    color: #fff;
    border-radius: 2px 40px 30px 30px;
    padding: 12px 10px;
    font-weight: 700;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
#Home .content .content-header .button .btn2 {
color: black;
font-weight: 700;
display: flex;
text-align: center;
justify-content: center;
align-items: center;
}
#Home .content .content-header .button .btn2:hover {
    color:#E61414;
    }
#Home .content .content-header .button .btn2 i{
margin-right: 10px;
z-index: 999;
padding:  5px;
margin-left: 2px;

}

#Home .content .content-header .button .btn2 .btn-icon{
    position: relative;
    z-index: 99999;
    text-align: center;
    border: 8px solid  red;
    border-color: transparent transparent transparent red;
    border-radius: 50%;
    margin-right: 5px;
    height: 50px;
    width:  50px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;



}
#Home .content .content-header .button .btn2 .btn-icon::before{
content: "";
position: absolute;
border-radius: 50%;
width: 100%;
background-color: #fff;
top: 0;
left: 0;
height: 100%;
z-index: -1;

}
#Home .content .content-header .button .btn1:hover{
background-color: #e66114;
color: #fff;
    }
#Home .content .content-header .button {
        padding-top: 20px;
        display: flex;
        }
#Home .content .image{
    width: 40%;
    filter: drop-shadow(4px 4px 9px #000a);
}
#Home .content .image img{
    width: 100%;
    transition: all 1s;
}
@keyframes img{
    0%{
        transform: translate(2px,2px) rotate(2deg);
    }
    50%{
        transform: translate(5px,5px) rotate(0deg);
    }
    70%{
        transform: translate(-2px,-2px) rotate(0deg);
    }
    100%{
        transform: translate(-5px,-5px) rotate(-0deg);
    }
}
#Home .content .image img:hover{
    animation: img 1s infinite forwards;
}
/*Chefs*/
#Chefs .container{
    display: flex;
    justify-content: space-between;
}
#Chefs .container .card{
    width: 30%;
    box-shadow: 3px 4px 17px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
  
    border-radius: 10px;
    transition: all 1s ;
    position: relative;
}
#Chefs .container .card .layer{
    width: 35px;
    height: auto;
    background-color: #ffffffa2;
    position: absolute;
    top: 80px;
    right: 10px;
    padding: 4px;
    border-radius: 10px;
    transition: all .5s 1.1s;
    opacity: 0;
}
#Chefs .container .card .layer li{
margin-bottom: 10px;
color: #4f4f5a;
}
#Chefs .container .card .layer li a{
    color: #4f4f5ace;
}
#Chefs .container .card .layer li a:hover{
    color: #4f4f5a;
}


#Chefs .container .card:hover {
    transform: scale(1.1);
}
#Chefs .container .card:hover .layer{
    opacity: 1;
}
#Chefs .container .card .content{
    padding: 30px;
}
#Chefs .container .card .content h3{
font-family: Tahoma;
Font-Weight:700;
Font-Size:20px;
Line-Height:normal;
Color:rgb(33, 37, 41);
Font-Style:normal;
margin-bottom: 10px;
}
#Chefs .container .card .content span{
    Font-Weight:400;
    Font-Size:15px;
    Line-Height:normal;
    Color:rgb(127, 127, 144);
    Font-Style:normal;
    }
    #Chefs .container .card .content p{
        Font-Weight:400;
        Font-Size:15px;
        Line-Height:1.5;
        Color:rgb(129, 129, 133);
        Font-Style:normal;
        margin-top: 10px;
        }
#Chefs .container .card .image img{
    width: 100%;
}
.title h2{
    color: #7f7f90;
    font-weight: 400;
    font-size: 19px;
    text-transform: uppercase;
}
.title{
    text-align: center;
    margin-top: 80px;
}
.title p{
    color: #7f7f90;
    font-size: 40px;
    font-family: "Amatic SC", sans-serif;
}
.title p span{
    color: #CE1212;
}
#Gallary{
    background-color: #eee;
    padding-top: 15px;
}

#Gallary .container{
    display: flex;
    justify-content: space-between;
}
#Gallary .gallary{
    columns: 3 250px;
}
#Gallary .gallary img{
    width: 100%;

}
#Gallary .container .gallary .box1:hover .layer{
    top: 0;
}
#Gallary .container .gallary .box1 .layer{
    position: absolute;
    background-color: #000000a6;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    text-align: center;
    transition: all 1s;
}
#Gallary .container .gallary .box1{
    width: 100%;
    border: 3px solid #fff;
    position: relative;
    overflow: hidden;
}
#Gallary .container .gallary .box2:hover .layer{
    top: 0;
}
#Gallary .container .gallary .box2 .layer{
    position: absolute;
    background-color: #000000a6;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    text-align: center;
    transition: all 1s;
}
#Gallary .container .gallary .box2{
    width: 100%;
    border: 3px solid #fff;
    position: relative;
    overflow: hidden;
}
#Gallary .container .gallary .box3:hover .layer{
    top: 0;
}
#Gallary .container .gallary .box3 .layer{
    position: absolute;
    background-color: #000000a6;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    text-align: center;
    transition: all 1s;
}
#Gallary .container .gallary .box3{
    width: 100%;
    border: 3px solid #fff;
    position: relative;
    overflow: hidden;
}
#Gallary .container .gallary .box4:hover .layer{
    top: 0;
}
#Gallary .container .gallary .box4 .layer{
    position: absolute;
    background-color: #000000a6;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    text-align: center;
    transition: all 1s;
}
#Gallary .container .gallary .box4{
    width: 100%;
    border: 3px solid #fff;
    position: relative;
    overflow: hidden;
}
#Gallary .container .gallary .box5:hover .layer{
    top: 0;
}
#Gallary .container .gallary .box5 .layer{
    position: absolute;
    background-color: #000000a6;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    text-align: center;
    transition: all 1s;
}
#Gallary .container .gallary .box5{
    width: 100%;
    border: 3px solid #fff;
    position: relative;
    overflow: hidden;
}
#Gallary .container .gallary .box6:hover .layer{
    top: 0;
}
#Gallary .container .gallary .box6 .layer{
    position: absolute;
    background-color: #000000a6;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    text-align: center;
    transition: all 1s;
}
#Gallary .container .gallary .box6{
    width: 100%;
    border: 3px solid #fff;
    position: relative;
    overflow: hidden;
}

#Gallary .container .gallary .box7:hover .layer{
    top: 0;
}
#Gallary .container .gallary .box7 .layer{
    position: absolute;
    background-color: #000000a6;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    text-align: center;
    transition: all 1s;
}
#Gallary .container .gallary .box7{
    width: 100%;
    border: 3px solid #fff;
    position: relative;
    overflow: hidden;
}










/*Contact*/
#Contact .content-contact{
    display: flex;
    margin-block: 15px;
    justify-content: space-between;

}
#Contact .content-contact .box1{
    display: flex;
    width: 49%;
    background-color: #F5F5F5;
    padding: 20px;
    align-items: center;
    gap: 10px;
}
#Contact .content-contact .box2{
    display: flex;
    width: 49%;
    background-color: #F5F5F5;
    padding: 20px;
    align-items: center;
    gap: 10px;
}
#Contact .content-contact .box1 .para h3{
    color: #7d7d7d;
    font-size: 19.25px;
    font-weight: 700;
    margin: 0 0 5px 0;
}
#Contact .content-contact .box1 .para p{
    color: #030303;
    font-size: 14px;
    margin: 0 0 5px 0;
}
#Contact .content-contact .box1 .para a{
    color: #030303;
    font-size: 14px;
    margin: 0 0 5px 0;
}
#Contact .content-contact .box2 .para h3{
    color: #7d7d7d;
    font-size: 19.25px;
    font-weight: 700;
    margin: 0 0 5px 0;
}
#Contact .content-contact .box2 .para p{
    color: #030303;
    font-size: 14px;
    margin: 0 0 5px 0;
}
#Contact .content-contact .box2 .para a{
    color: #030303;
    font-size: 14px;
    margin: 0 0 5px 0;
}
#Contact .content-contact .box1 .icon{
    background-color: #CE1212;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Contact .content-contact .box1 .icon i{
    color: #fff;
}
#Contact .content-contact .box2 .icon{
    background-color: #CE1212;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Contact .content-contact .box2 .icon i{
    color: #fff;
}
#Contact .container .form{
    width: 100%;
    box-shadow: 3px 4px 17px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;

}
#Contact .container .form .input-1{
    display: flex;
    justify-content: space-between;
}
#Contact form .input-1 input{
    width: 49.5%;
    height: 35px;
    padding: 5px;
}
#Contact .form .textarea textarea
{  
    padding: 5px;
    width: 100%;
    resize: none;
    height: 150px;
}
#Contact form .input-2 input{
    width: 100%;
    height: 35px;
    padding: 5px;
    margin-block: 10px;
}
#Contact .btn  button{
    height: 40px;
    width: 120px;
    margin-top: 30px;
    background-color:#CE1212;
    color: #fff;
    padding: 7px;
    border: none;
    border-radius: 10px;

}
#Contact .btn  button:hover{
    cursor: pointer;
    background-color: #f15106;

}
#Contact  form .input-1 input:hover,
#Contact form .input-2 input:hover,
#Contact form .textarea textarea:hover{
    border: 1px solid #ff305b;
}
.footer{
    background-image:url(./image/textured-metal-background.jpg) ;
}
.footer .container{
    display: flex;
    justify-content: space-between;
}
.footer .box1{
    width: 25%;
}
.footer .box1 .logo{
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 10px;
}
.footer .box1 .logo img{
    width:35px;
    height: 35px;
}
.footer .box1 .logo  h2{
    font-family: "Open Sans"," system-ui", "-apple-system", "Segoe UI", "Roboto",
    "Helvetica Neue", "Arial", "Noto Sans", "Liberation Sans", "sans-serif",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    Font-Weight:700;
    Font-Size:27px;
    Line-Height:normal;
    Color:rgb(255, 255, 255);
    font-style:normal;
    padding-top: 5px;
    }
    .footer h2 span{
        color: #CE1212;
    }
    .footer .box1 p{
        color: #fff;
        font-size: 15px;

    }
    .footer .box1 h3{
        color: #fff;
        text-align: center;
        border-bottom: 1px solid #fff;
        font-family: cursive;
        margin-top: 10px;
        padding: 10px;
        width: 80%;
        margin-bottom: 20px;
    }
    .footer .box1 ul {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }
    .footer .box1 ul li a{
        color: #fff;
    }
    .footer .container .box2{
        width: 49%;
    }
    .footer .container .box2 h3{
        color: #fff;
        margin-bottom: 10px;
        font-weight: 700;
    
    }
    .footer .container .box2 p{
        color: #fff;
        margin-bottom: 10px;
    
    }
    .footer .container .box2 .submit input{
        width: 65%;
        padding: 10px;
        height: 35px;
    }
    .footer .container .box2 .submit .btn{
        background-color: #CE1212;
        color: white;
        height: 35px;
        width: 120px;
        border: 0px;
        
    }
    .footer .container .box2 .submit .btn:hover{
        background-color: #E61414;
        cursor: pointer;
        
    }
    .footer .box2 .links{
        margin-top: 10px;
    }
    .footer .box2 .links ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer .box2 .links li a{
        color: white;
    }
    .footer .box2 .links li {
        width: 40%;
        margin-block: 5px;
        padding: 5px;
    }
    .footer .box2 .links li:hover{
        background-color: #383838;
    }
    .footer .box2 .links ul span{
        margin-right: 8px;
        font-weight: bold;
    }
    .footer .box2 .links li:hover a{
        margin-left: 15px;
    }
    .footer .container .box3 h3{
        color: #fff;
        font-family: cursive;
        margin-bottom: 20px;
        
    
    }
    .footer .container .box3 ul li{
    display: flex;
    color: #fff;
    margin-bottom: 25px;
    
    }
    .footer .container .box3 ul li i{
        color: #CE1212;
        margin-right: 5px;
        
        }
        .footer .container .box3 ul li a{
            color: #fff;
            
            }
        .footer .box3{
            width: 25%;
        }
































        /*media*/
    
    
        
        @media (max-width: 1399.98px) {  }
        @media (max-width: 1199.98px) {  
               #Home .content .image{
                        width: 100%;
                        order: -1;
                        padding-top: 10px;
                    }
                    #Home .content .image img{
                        width: 100%;
                    }
                    #Home .content .container{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                    }
                    #Home .content .content-header{
                        width: 100%;
                    }
                    #Chefs .container .card{
                        width: 47%;
                        margin-bottom: 30px;
                    }
                    #Chefs .container{
                        flex-wrap: wrap;
                        gap: 10px;
                    }
                    #Gallary .container .gallary2{
                        width: 49%;
                    }
                    #Gallary .container .gallary1{
                        width:49%;
                    
                    }
                    #Gallary .container .gallary3{
                        width: 49%;
                    }
                    #Gallary .container{
                        flex-wrap: wrap;
                    }
                    .footer .container{
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                    }
                    .footer .box1{
                        width: 100%;
                        margin-bottom: 20px;
                    }
                    .footer .container .box2{
                        width: 100%;
                        margin-bottom: 20px;
                    }
                    .footer .container .box3{
                        width: 100%;
                    }
                    .footer .box1 h3{
                    width: 100%;
                    }
                    .footer .box1 ul {
                
                        width: 100%;
                    }
                    .footer .container .box2 .submit input{
                        width: 100%;
                        margin-bottom: 10px;
                    }
                    .footer .container .box2 .submit .btn{
                    width: 100%;
                        
                    }
        }
        @media (max-width: 991.98px) {
            #Chefs .container .card{
                width: 100%;
                height: 100%;
            
            }
            .container{
                width: 90%;
            }
            #Home .content .image{
                width: 100%;
                order: -1;
                padding-top: 10px;
            }
            #Home .content .image img{
                width: 100%;
            }
            #Home .content .container{
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            #Chefs .container{
                display: flex;
                flex-direction: column;
                gap: 40px;
            }
            #Contact .content-contact{
                display: flex;
                flex-direction: column;
            }
            #Contact .content-contact .box1{
                width: 100%;
                margin-bottom: 10px;
            }
            #Contact .content-contact .box2{
                width: 100%;
            }
            #Contact .container .form .input-1{
                display: flex;
                flex-direction: column;
        
            }
            #Contact form .input-1 input{
                width: 100%;
                margin-bottom: 10px;
            }
            #Gallary .container{
                display: flex;
                flex-direction: column;
            }
            #Gallary .container .gallary2{
                width: 100%;
            }
            #Gallary .container .gallary1{
                width:100%;
            
            }
            #Gallary .container .gallary3{
                width: 100%;
            }
            .footer .container{
                display: flex;
                flex-direction: column;
                gap: 30px;
            }
            .footer .box1{
                width: 100%;
                margin-bottom: 20px;
            }
            .footer .container .box2{
                width: 100%;
                margin-bottom: 20px;
            }
            .footer .container .box3{
                width: 100%;
            }
            .footer .box1 h3{
            width: 100%;
            }
            .footer .box1 ul {
        
                width: 100%;
            }
            .footer .container .box2 .submit input{
                width: 100%;
                margin-bottom: 10px;
            }
            .footer .container .box2 .submit .btn{
            width: 100%;
                
        
        

        }
    }

        @media (max-width: 767.98px) { 
            #Home .content .image{
                width: 100%;
                order: -1;
                padding-top: 10px;
            }
            #Home .content .image img{
                width: 100%;
            }
            #Home .content .container{
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            #Chefs .container .card{
                width: 100%;
                height: 100%;
            
            }
            .container{
                width: 90%;
            }
            #Chefs .container{
                display: flex;
                flex-direction: column;
                gap: 40px;
            }
            #Contact .content-contact{
                display: flex;
                flex-direction: column;
            }
            #Contact .content-contact .box1{
                width: 100%;
                margin-bottom: 10px;
            }
            #Contact .content-contact .box2{
                width: 100%;
            }
            #Contact .container .form .input-1{
                display: flex;
                flex-direction: column;
        
            }
            #Contact form .input-1 input{
                width: 100%;
                margin-bottom: 10px;
            }
            #Gallary .container{
                display: flex;
                flex-direction: column;
            }
            #Gallary .container .gallary2{
                width: 100%;
            }
            #Gallary .container .gallary1{
                width:100%;
            
            }
            #Gallary .container .gallary3{
                width: 100%;
            }
            .footer .container{
                display: flex;
                flex-direction: column;
                gap: 30px;
            }
            .footer .box1{
                width: 100%;
                margin-bottom: 20px;
            }
            .footer .container .box2{
                width: 100%;
                margin-bottom: 20px;
            }
            .footer .container .box3{
                width: 100%;
            }
            .footer .box1 h3{
            width: 100%;
            }
            .footer .box1 ul {
        
                width: 100%;
            }
            .footer .container .box2 .submit input{
                width: 100%;
                margin-bottom: 10px;
            }
            .footer .container .box2 .submit .btn{
            width: 100%;
                
            }

        }
        @media (max-width: 575.98px) {}